<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'map/style.css'%}">
    {%block scriptsTitleMeta %}
    {% endblock scriptsTitleMeta %}
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'main_page' %}">Map</a>
                    {% if user.is_authenticated%}
                        <a href="#">Профиль</a>
                        <a href="{% url 'logout_page' %}"> Выйти </a>
                    {% else %}
                        <a href="{% url 'register_page' %}">Регистрация</a>
                        <a href="{% url 'login_page' %}">Войти</a>
                    {% endif%}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>

</html>