@tailwind base;
@tailwind components;
@tailwind utilities;

/* .overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(255, 0, 150, 0.3);
}

.modal{
    background: white;
}

img{
    width: 400px;
    height: 400px
} */